*{
    margin:0 ;
    padding:0 ;
    box-sizing: border-box;

}
:root{
    --primary-colour:rgb(231, 223, 223);
}
body{
    height: 100vh;
    width: 100%;
    background-color: var(--primary-colour);
    justify-content: center;
    justify-items: center;

}
.box{
    width: 130px;
    background-color: white;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
    

}
img{
    object-fit: cover;
}
.Product-name{
    font-size: 5px;
    font-weight: 500;

}
span{
    display: block;
    }
